.ds_store
node_modules/
venv/
dist
.env
.env.local
.env.*.local
.vscode
.idea
*.log
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.tgz
.cache
.next
out
package-lock.json
yarn.lock
packages.json



Project/.DS_Store
Project/instance/
Project/__pycache__/

user/.DS_Store
user/*.log
user/__pycache__/


quize/.DS_Store
quize/__pycache__/


home/.DS_Store
home/__pycache__/

ai/.DS_Store
ai/*.log
ai/__pycache__/

